.content-section-a
  .container
    .row
      .col-lg-12
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Peter Bloom
        %p.lead
          %p.lead Developer (coder) of end-to-end SaaS and mobile applications using Ruby on Rails, JQuery, MongoDB, MySQL/PostgreSQL, and Linux VPS. Agile software development scrum master.
          %p.lead Management consultant specializing in strategic planning, and business process improvement. Advised many companies regarding acquisitions and divestitures, asset liquidations, and expansion projects. Developed business plans that have allowed several companies to successfully raise money in private placements, and helped one company go public (Sigma Designs, Inc., NASDAQ: SIGM). Worked in several high-visibility crisis and turnaround situations. Prior CEO of two companies, bringing to market over 200 products.\
          %p.lead Specialties: Ruby on Rails SaaS application development and deployment.\
          %p.lead Strategic planning, financial analysis, business development, negotiation, international business (especially supplier management, relationship building, and import from Asia.)
    .row
      .col-lg-12
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Max Dunn
        %p.lead
          %p.lead My fervent hope is that the world will move away from dirty, limited fossil fuels to using only clean, renewable energy. To do this, we will need to adopt electric transportation and develop a smarter grid. I am kind of a nut about this, owning a Nissan Leaf, Zero S motorcycle and a Zapino scooter. I also installed my own solar system and am tying it all together with a peak shaving, battery backup system.
    .row
      .col-lg-12
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Francois Oudot
        %ul
          %li.lead Organized and goal-oriented business engineer with over 3 years experience in IT and system integration industry
          %li.lead Self motivated, hands-on and dedicated to get the job done
          %li.lead Sharp, succint, energetic and able to see the big picture
          %li.lead Analytical problem-solver and able to anticipate issues
          %li.lead Skilled in building excellent relation with clients and team members

          %p.lead Worldline, an Atos subsidiary, is the European leader and a global player in the payments and transactional services industry.