.content-section-a
  .container
    .row
      .col-lg-12
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Peter Bloom
        %ul
          %li.lead Ruby on Rails front and back-end programmer.
          %li.lead Agile software development scrum master.
          %li.lead Specialist in financial metrics, sales force automation and business process improvement.
    .row
      .col-lg-12
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Max Dunn
        %ul
          %li.lead Ruby on Rails front and back-end programmer.
          %li.lead Working to move the world away from dirty, limited fossil fuels to clean, renewable energy.
          %li.lead Focused on electric transportation and smart grid technology.
          %li.lead Kind of a nut about this, owning a Nissan Leaf, Zero S motorcycle and Zapino scooter.
          %li.lead Installed own solar system with peak shaving, battery backup system.
    .row
      .col-lg-12
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Francois Oudot
        %ul
          %li.lead Business engineer with experience in IT and system integration
          %li.lead Specialist in payments and transactional services industry.

    .row
      .col-lg-12
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Jeremy Whaling
        %ul
          %li.lead Electrical engineer focused on bringing the electric car to everyone.
          %li.lead Focused on increased wind usage and linking the grid to electric vehicles and hybrids.
          %li.lead Specialist in solar power, inverters, power electronics, off-grid technologies, peak shaving.