.container
  .hero-unit
    .center
      = image_tag(image_path('nissan_leaf_police_car.png'), alt: 'Access denied' )
      %h1 Oops!
      %h3 You are not authorized to access this page.

  = link_to 'Back', :back
