.content-section-a
  .container
    .row
      .col-lg-12
        -#%hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Wind 2 Wheels
        %p.lead
          %p.lead
            In some areas, as much as half of the available wind power is not used. Why? Because wind tends to blow at night when electrical demand is low.
            %a{:href => 'http://www.nytimes.com/2013/08/15/business/energy-environment/intermittent-nature-of-green-power-is-challenge-for-utilities.html?_r=0'}Source

          %p.lead Now that we have all these electric vehicles around, why not start charging them when the wind starts blowing? Not only will this make better use of wind power, but it may also lower the cost of charging EVs by participating in demand response programs.

          %p.lead To do this, we will need to:

          %ul
            %li.lead Have a website where users can signup and indicate at what time in the morning they want their EV to be fully charged
            %li.lead Query the EV to find out how much charge it needs and calculate how long that will take
            %li.lead Look at wind reports to find out when the wind starts blowing
            %li.lead Send a signal to the EV to start charging at that time, but in any event, no later than necessary to get a full charge

          %p.lead Will you join us in helping to bring more wind energy to the wheels of EVs?

