.page-header
  - if @charging
    %h1#forms Charging
    = image_tag(image_path('charging_car.png'), height: '311px', width: '450px')
  - else
    %h1#forms Not Charging
    = image_tag(image_path('no_charging_car.png'), height: '311px', width: '450px')
